/*-------MY SASS---------*/
/*-------Elements---------*/
body {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500; }

h1, h2, h3, h4, .button {
  font-family: "Gill Sans", "Book Antiqua", Palatino, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500; }

.grayscale, #grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  /* For Webkit browsers */
  filter: gray;
  /* For IE 6 - 9 */
  -webkit-transition: all .6s ease;
  /* Transition for Webkit browsers */ }

.grayscale:hover, #grayscale:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none; }

#send_message {
  padding: 130px; }

.mobile {
  display: none; }

/*-------Header---------*/
#header {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px; }

#nav {
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-top: 100px; }
  #nav li {
    list-style: none;
    padding-right: 40px;
    font-size: 1em;
    display: inline; }
  #nav a {
    text-decoration: none;
    color: #1c2225; }

#name_header {
  padding: 60px;
  padding-top: 90px;
  padding-bottom: 90px; }

#name_header h1 {
  font-size: 5.5em; }

.last {
  margin-top: -80px; }

.title {
  font-size: 2.3em;
  margin-top: -55px; }

#work_header {
  background-color: #1c2225;
  margin-top: -20px;
  margin-left: -10px;
  margin-right: -10px; }

#work_nav {
  padding: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-top: 100px; }
  #work_nav li {
    list-style: none;
    padding-right: 40px;
    font-size: 1em;
    display: inline; }
  #work_nav a {
    text-decoration: none;
    color: #fff; }

#work_intro {
  color: #fff;
  padding-left: 60px;
  padding-right: 40%;
  padding-bottom: 40px;
  padding-top: 20px; }

#work_intro h2 {
  font-size: 2.2em; }

#work_intro p {
  font-size: 1em; }

/*-------Skills---------*/
#skills {
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 80px;
  padding-left: 60px;
  padding-bottom: 440px;
  text-align: center;
  line-height: 25px; }

#skills h4 {
  font-size: 1.3em; }

#skills p {
  font-size: .9em;
  text-align: justify; }

#skills img {
  width: 70%; }

.S_bucket {
  width: 25%;
  float: left;
  padding: 40px; }

.S_bucket2 {
  width: 30%;
  float: left;
  padding: 5px; }

#bucket2 {
  margin-top: -18px; }

#bucket3 {
  margin-top: -36px; }

#skills {
  background-color: #768c97; }

/*-------profile_content---------*/
#profile_content {
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 100px;
  padding-top: 100px; }

#profile_pic {
  margin-left: -30px; }

#profile_content a {
  text-decoration: none;
  color: #1c2225; }

#profile_pic img {
  width: 43%; }

#resume img {
  width: 3%; }

#resume {
  font-size: 2em; }

#about_me {
  width: 45%;
  margin-top: -50.2%;
  float: right;
  clear: both;
  padding: 40px; }

#about_me p {
  font-size: 1em;
  line-height: 25px;
  padding-right: 65px;
  text-align: justify; }

#about_me h2 {
  font-size: 4em; }

/*-------subnav---------*/
#subnav {
  padding: 30px;
  padding-bottom: 60px;
  margin-top: 60px;
  margin-left: -30px;
  margin-right: -10px;
  border-top: 1px solid #D9DDDE;
  text-align: center; }

#subnav h2 {
  font-size: 1.7em; }

#subnav p {
  font-size: .9em; }

.button {
  padding: 7px;
  border: 2px solid #1c2225;
  color: #fff;
  background-color: #660000;
  text-decoration: none;
  font-size: 1.2em; }

.button a {
  color: #fff; }

/*-------Footer---------*/
#footer {
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
  color: #fff; }

#Fnav {
  padding: 20px;
  background-color: #768c97;
  color: #fff; }

#Fnav li {
  list-style: none;
  padding-right: 40px;
  font-size: 1em;
  display: inline; }

#Fnav a {
  text-decoration: none;
  color: #fff; }

#copyright {
  font-size: .7em; }

/*# sourceMappingURL=desktop.css.map */
